#app{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: auto;
}

.grid-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
}

.grid-column img {
    height: 500px;
    max-width: 100%;
}

.block-header {
    background-color: antiquewhite;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    color: goldenrod;
}

button {
    height: 100px;
    width: 100%;
}

